<div class="max-w-md mx-auto bg-white shadow-md mb-4 rounded-lg overflow-hidden">
  <div class="p-4 mb-4">
    <h2 class="text-2xl font-semibold mb-4">{{ recipe.label }}</h2>

    <img src="{{ recipe.image }}" alt="Logo" class="mx-auto" />

    
      <ul class="list-disc pl-4 mb-4">
        @for(ingredients of recipe.ingredientLines; track ingredients) {
        <li>{{ ingredients.name }}</li> <!--In this the ingredients has inside it the object and you are calling the name key with ".name"-->
      }
      </ul>
    
     
    <!-- Total Time -->
    <p><strong>Minutes to prepare dish:</strong> {{ recipe.readyInMinutes }}</p>

    <!-- Diet Labe -->
    <p><strong>Diet Labels:</strong> {{ recipe.diets }}</p>


    <!-- Dish Type -->
    <p><strong>Dish Type:</strong> {{ recipe.dishTypes }}</p>

    <!-- Instructions -->
    <article [innerHTML]="recipe.instructions" class="mt-6 mx-auto">
    <p class="mt-4"><strong>Instructions:</strong> {{ recipe.instructions }}</p>
  </article>

  </div>
  </div>