

<div>
  <form class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-lg p-4">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
      <input [(ngModel)]="loginDetails.email" type="text" id="email" name="email" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-gray-300 focus:ring focus:ring-blue-200 focus:outline-none">
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-gray-700">Password:</label>
      <input [(ngModel)]="loginDetails.password" type="password" id="password" name="password" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-gray-300 focus:ring focus:ring-blue-200 focus:outline-none">
    </div>
    <button type="button" (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Login</button>
  </form>
</div>
