<div class="flex justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="p-4">
        <p class="mb-2 text-lg font-semibold">Recipe</p>
        <hr class="mb-4">
        <p class="mb-2"><span class="font-semibold">ID:</span> {{ recipe.id }}</p>
        <p class="mb-2"><span class="font-semibold">Title:</span> {{ recipe.title }}</p>
        <p class="mb-2"><span class="font-semibold">Nutrition:</span> {{ recipe.nutrition }}</p>
        <p class="mb-2"><span class="font-semibold">Allergens:</span> {{ recipe.allergenes }}</p>
        <p class="mb-2"><span class="font-semibold">Photo:</span> {{ recipe.photo }}</p>
      </div>
    </div>
  </div>
</div>