<div class="flex justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="p-4"> <!--Inside a tag around that redirects /recipe/id (id is a url parameter)
        in that route display more info, new comp that make a api request to get more info and display that
      in the recipe service make a request for the recipe by id -->
        
        <hr class="mb-4">
        <!--<p class="mb-2"><span class="font-semibold">ID:</span> {{ recipe.id }}</p>-->
        <p class="mb-2 font-semibold">{{ recipe.title }}</p>
        <!--<p class="mb-2"> {{ recipe.nutrition }}</p>-->
        <!--<p class="mb-2"><span class="font-semibold">Allergens:</span> {{ recipe.allergenes }}</p>-->
        <img src="{{ recipe.image }}" alt="image of the recipe">
      </div>
    </div>
  </div>
</div>