<!--<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>-->

<nav class="bg-gray-800">
  <div class="container mx-auto px-4">
    <ul class="flex justify-between items-center py-4">
      <li>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium">Home</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium">Profile</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium">Register</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium">Log In/Out</a>
      </li>
    </ul>
  </div>
</nav>

<app-home></app-home>

<!--Display this loop in home as a grid-->
@for (recipe of recipes.results; track recipe) {
  <div class="max-w-md mx-auto">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg mb-4">
      <div class="p-4">
        <p class="mb-2 text-lg font-semibold">Recipe Details</p>
        <hr class="mb-4">
        <div class="mb-2"><span class="font-semibold">ID:</span> {{ recipe.id }}</div>
        <div class="mb-2"><span class="font-semibold">Title:</span> {{ recipe.title }}</div>
      </div>
    </div>
  </div>
  }

  <footer class="bg-gray-800 text-white py-4 fixed bottom-0 w-full">
    <div class="container mx-auto px-4">
      <article class="text-center">
        ~ created by: Louise Blanc 2024 ~
      </article>
    </div>
  </footer>

<!-- App.component kommer ha logo och navbar och synas på alla sidor därför får router outlet vara här -->
<router-outlet></router-outlet>