<!--<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>-->

<nav class="bg-teal-800 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <ul class="flex items-center space-x-4 py-2">
      <img src="/assets/vegetables-logo.png" alt="Logo" class="w-12 h-auto">
      <li>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out">Home</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out">Profile</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out">Register</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out">Log In/Out</a>
      </li>
      
    </ul>
  </div>
</nav>


<app-home></app-home>



  <footer class="bg-gray-800 text-white py-4 fixed bottom-0 w-full">
    <div class="container mx-auto px-4">
      <article class="text-center">
        ~ created by: Louise Blanc 2024 ~
      </article>
    </div>
  </footer>

<!-- App.component kommer ha logo och navbar och synas på alla sidor därför får router outlet vara här -->
<router-outlet></router-outlet>