<div class="bg-cover mx-auto h-screen" style="background-image: url('https://images.unsplash.com/photo-1505935428862-770b6f24f629?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">

<nav class="bg-yellow-700 py-4">
  <div class="container mx-auto flex justify-center items-center">
    <ul class="flex items-center space-x-4 py-2">
      <img src="/assets/vegetables-logo.png" alt="Logo" class="w-12 h-auto" />
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out">Home</a>
      </li>

      @if((loggedIn$ | async)){
        <li>
          <a
            (click)="logout()"
            class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out"
            >Log Out</a>
        </li>
      }@else {
        <li>
          <a
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out"
            >Register</a>
        </li>
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 ease-in-out"
            >Log In</a>
        </li>
      }
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

</div>
<footer class="bg-yellow-700 text-white py-4 w-full">
  <div class="container mx-auto px-4">
    <article class="text-center">♥ created by: Louise Blanc 2024 ♥</article>
  </div>
</footer>
